# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\vinising\Desktop\Upgrad\Experiental learning\Module 3\UPSTAC-Week3-assignment_updated\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
